@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
html, body, ul{
    margin: 0;
    padding: 0;
}
main {
    padding-top: 80px;
    font-family: 'Courier New', Courier, monospace;
}
header{
    height: auto;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: rgb(223, 212, 61);
    border-style: hidden;
    position: fixed;
    top:0;
    border-radius: 0 0 20px 20px;
    z-index: 2;
    margin:0;
    padding:0;
}
header .logo{
    float: left;
    width: 90px;
    padding: 10px;
}
.navbar{
    position: absolute;
    left:150px;
}
.navbar li{
    list-style-type: none;
    display:inline-block;
}
.navbar a:hover {
    background: rgb(59, 58, 58);
    color: white;
}
.navbar a{
    text-decoration: none;
    display:inline-block;
    text-align: center;
    height: 70px;
    width: auto;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
    text-transform: capitalize;
    font-weight: 500;
}
.navbar a:active{
    color: red;
}
#Topic2, #Topic3{
    border-top: 110px solid transparent;
	margin-top: -110px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
#Topic4, #Topic5, #Topic6{
    border-top: 140px solid transparent;
	margin-top: -140px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
footer{
    height: auto;
    width: auto;
    padding:10px;
    border-radius: 20px;
    border-style: hidden;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(223, 212, 61);
    border-radius: 20px 20px 0 0;
    text-align: center;
    display: block;
}
footer address{
    font-style: normal;
}
/* соседний селектор */
h4+ul{
    font-family: 'Courier New', Courier, monospace;
}
/* дочерний селектор - первый потомок */
section>h4{
    color: red;
}
section{
    border-radius: 0px;
    border-style:none;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float:inherit;
    display: block;
}
article{
    border-radius: 0px;
    border-style:none;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float:none;
}
h1, h2{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    position: sticky;
    top:0px;
    z-index: 1;
    display: block;
    height: auto;
    background-color:rgba(203, 202, 204, 0.904);
    margin: 30px 0;
    padding:0;
    height: auto;
    width: 100%;
}
h3, h4{
    font-family: 'Roboto Mono', monospace;
}
.display{
    display: block;
    border-radius: 20px;
    float: right;
    height: 150px;
    width: 150px;
    margin:0;
}
.map, .video{
    display:inline-block;
    margin: 20px 75px;
    text-align: center;
    font-size: large;
}
.map{
    align-items:left;
}
.video{
    align-items:right;
}
#video{
    box-sizing: border-box;
    margin: 42px 0;
}
textarea::placeholder{
    font-style: italic;
    color:rgb(109, 83, 14);
}
form{
    box-sizing: border-box;
    margin:2em;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
}
fieldset{
    box-sizing: border-box;
    border-radius:2em;
    border-style: none;
    background-color:rgb(134, 134, 134);
    border-color: rgb(134, 134, 134);
    color:white;
    margin:0;
    padding:2em;
}
legend{
    background-color: black;
    border-color: black;
    box-sizing: border-box;
    border-radius: 2em;
    border-style: none;
    text-align: center;
    padding:1em;
    margin:0;
}
input, select, textarea, button{
    box-sizing: border-box;
    border-radius: 2em;
    border-style:groove;
    background-color: white;
    border-color: beige;
    margin:1em;
    padding:1em;
    font-family: 'Courier New', Courier, monospace;
}
input:focus, select:focus, textarea:focus, button:focus{
    background-color: rgb(223, 212, 61);
}