@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    display:grid;
    overflow-x:hidden;
    height:auto;
    justify-items: stretch;
    align-items: stretch;
    grid-template-rows: repeat(4, auto-fit);
    grid-template-columns: repeat(1, auto-fit);
}
footer{
    background: rgb(223, 212, 61);
    padding:40px;
    margin:0;
    grid-row-start: 2;
    grid-row-end: 3;
    width:calc(100vw - 80px);
}
article{
    width:100vw;
    height:auto;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto-fit);
    grid-template-areas: 
    "text1 text1"
    "text2 text2"
    "map video"
    "gal fr";
}
.fr1{
    grid-area: text1;
}
.fr2{
    grid-area: text2;
}
.map{
    grid-area: map;
}
.video{
    grid-area: video;
}
.gal{
    grid-area: gal;
}
.fr{
    grid-area: fr;
}
section{
    width:100%;
    height:auto;
    display:block;
    padding:0 15px 0 0;
}
main{
    padding-top: 80px;
    font-family: 'Courier New', Courier, monospace;
    display:block;
    grid-row-start: 1;
    grid-row-end: 2;
    width:100vw;
}
header{
    grid-row-start: 0;
    grid-row-end: 1;
    z-index:1000;
    display:flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    background-color: rgb(223, 212, 61);
    border-style: hidden;
    position: fixed;
    top:0;
    border-radius: 0 0 20px 20px;
    z-index: 2;
    margin:0;
    padding:0;
    width:100%;
}
.copyright{
    background: #1f3389;
    padding:8px 0;
    text-align: center;
    color:white;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 0;
    grid-column-end: 1;
    width:100vw;
}
.containerr{
    width:auto;
    display:grid;
    gap:20px;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
@media (max-width:1000px){
    .containerr{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    article{
        grid-template-rows: repeat(5, auto-fit);
        grid-template-areas: 
        "text1 text1"
        "text2 text2"
        "map video"
        "gal gal"
        "fr fr";
    }
}
@media (max-width:768px){
    .containerr{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr)
    }
    article{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, auto-fit);
        grid-template-areas: 
        "text1"
        "text2"
        "map"
        "video"
        "gal"
        "fr";
    }
}
header .logo{
    float: left;
    width: 90px;
    padding: 10px;
}
#check-menu{
    display: none;
}
.navbar{
    position: absolute;
    left:150px;
}
.navbar li{
    list-style-type: none;
    display:inline-block;
}
.navbar a:hover {
    background: rgb(59, 58, 58);
    color: white;
}
.navbar a{
    text-decoration: none;
    display:inline-block;
    text-align: center;
    height: 70px;
    width: auto;
    padding-top: 40px;
    padding-left: 25px;
    padding-right: 25px;
    color: black;
    text-transform: capitalize;
    font-weight: 500;
}
.navbar a:active{
    color: red;
}
#Topic2, #Topic3{
    border-top: 110px solid transparent;
	margin-top: -110px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
#Topic4, #Topic5, #Topic6{
    border-top: 140px solid transparent;
	margin-top: -140px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}
/* соседний селектор */
h4+ul{
    font-family: 'Courier New', Courier, monospace;
}
/* дочерний селектор - первый потомок */
section>h4{
    color: red;
}
section{
    border-radius: 0px;
    border-style:none;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float:inherit;
}
article{
    border-radius: 0px;
    border-style:none;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float:none;
}
main h1, h2{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    position: sticky;
    top:0px;
    z-index: 1;
    display: block;
    height: auto;
    background-color:rgba(203, 202, 204, 0.904);
    margin: 30px 0;
    padding:0;
    height: auto;
    width: 100%;
}
h3, h4{
    font-family: 'Roboto Mono', monospace;
}
.display{
    display: block;
    border-radius: 20px;
    float: right;
    height: 150px;
    width: 150px;
    margin-right:10px;
}
.map, .video{
    text-align: center;
    font-size: large;
    width:auto;
}
#video{
    box-sizing: border-box;
    margin:0;
    max-width:100%;
    position:relative;
}
.map p, .video p{
    display:block;
    background-color: rgb(223, 212, 61);
    border-radius: 2em;
    padding: 1.25em;
    margin:1.5em;
}
@media screen and (max-width:1280px) {
    #video{
        margin:0;
    }
    #check-name{
        display:block;
        position:absolute;
        top:0;
        right:0;
        width:100%;
        height:100%;
        cursor:pointer;
        z-index:2;
    }
    .menu-burger__header {
        position: absolute;
        width: 40px;
        height: 35px;
        display: block;
        right:20px;
        top:40px;
    }
    .menu-burger__header > span,
    .menu-burger__header > span::before,
    .menu-burger__header > span::after {
        height: 3px;
        width: 100%;
        position: absolute;
        background-color: black;
        margin: 0 auto;
        transition-duration: 0.25s;
    }
    .menu-burger__header > span::before {
        content: "";
        top: -8px;
    }
    .menu-burger__header > span::after {
        content: "";
        top: 8px;
    }
    #check-menu:checked ~ .menu-burger__header > span {
        transform: rotate(45deg);
    }
    #check-menu:checked ~ .menu-burger__header > span::before {
        top: 0;
        transform: rotate(0);
    }
    #check-menu:checked ~ .menu-burger__header > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    .navbar{
        display:block;
        position:absolute;
        bottom:0;
        left:0;
        transform:translateY(100%);
        width:100%;
        visibility:hidden;
        overflow: hidden;
        transition-duration: 0s;
    }
    .navbar li{
        display:block;
        width:100%;
        border-top: 1px solid white;
    }
    .navbar a:hover {
        background-color: rgb(36, 36, 36);
    }
    .navbar a{
        text-decoration: none;
        display:block;
        text-align: center;
        height: 30px;
        width: auto;
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        color: white;
        background-color: black;
        text-transform: capitalize;
        font-weight: 500;
    }
    #check-menu:checked ~ .navbar{
        visibility:visible
    }
}
.gallery{
    height:auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background: black;
    padding:1rem;
    gap:1rem;
    justify-items: stretch;
    align-items: stretch;
}
.item{
    background: #393838;
    transition:.5s all;
    display:grid;
    justify-items: center;
    align-items: center;
}
.item .info{
    color:white;
    padding:1rem;
    text-align: center;
}
.item .info span{
    font-size: 3rem;
}
.item .info p{
    font-size: 0.85rem;
}
#it1{
    grid-column-start: span 2;
}
#it2, #it4{
    grid-row-start: span 2;
}
#it7{
    grid-column-start: span 3;
}
.item:hover{
    background: rgb(203, 84, 104);
}

.cont{
    width:calc(100% - 6rem);
    height:calc(100% - 6rem);
    padding:3rem;
    background: #161616;
}
.cont h2{
    color:white;
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
    background: transparent;
}
.wrap{
    width:100%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:30px;
}
.wrap .box{
    width:100%;
    position:relative;
    padding:20px;
}
.wrap .box input{
    width:100%;
    font-size: 20px;
    background: transparent;
    border: none;
    outline:none;
    border-bottom: 1px solid rgb(40, 205, 245);
    transition:.5s linear;
}
.wrap .box input:focus{
    padding: 20px 10px;
    background: rgb(40, 205, 245);
    margin-top:10px;
}
.wrap .box label{
    position:absolute;
    top:0;
    left:0;
    color:white;
    font-size: 18px;
    font-weight: bold;
    padding:20px;
    transition:.5s linear;
}
.wrap .box input:focus ~ label{
    padding:0;
}
.wrap .box textarea{
    width:100%;
    font-size: 20px;
    background: transparent;
    border: none;
    outline:none;
    border-bottom: 1px solid rgb(40, 205, 245);
    transition:.5s linear;
}
.wrap .box textarea:focus{
    padding: 20px 10px;
    background: rgb(40, 205, 245);
    margin-top:10px;
}
.wrap .box textarea:focus ~ label{
    padding:0;
}
.cont input[type="submit"]{
    background: rgb(40, 205, 245);
    padding: 5px 10px;
    border:none;
    outline:none;
    font-size: 15px;
    border-radius: 5px;
    cursor:pointer;
}
.containerr .abus h2,
.containerr .quicklinks h2,
.containerr .contactus h2{
    position:relative;
    color:white;
    font-weight: 500;
    margin-bottom:15px;
    background: transparent;
    text-align: left;
}
.containerr .abus h2:before,
.containerr .quicklinks h2:before,
.containerr .contactus h2:before{
    position:absolute;
    content:'';
    bottom:-5px;
    left:0;
    width:50px;
    height:2px;
    background: rgb(40, 205, 245);
}
.containerr .abus p{
    color:white;
}
.sci{
    margin-top:20px;
    display:grid;
    grid-template-columns: repeat(4, 50px);
    gap:5px;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    width:30px;
    height:30px;
    background:#3e56cb;
    display:grid;
    justify-content: center;
    align-content: center;
    color:white;
    text-decoration: none;
    border-radius: 4px;
}
.sci li a:hover{
    background:#3e6380fe;
}
.quicklinks{
    position:relative
}
.quicklinks li{
    list-style: none;
}
.quicklinks li a{
    color:#f7f7f7;
    text-decoration: none;
    margin-bottom: 10px;
    display:inline-block
}
.quicklinks li a:hover{
    color:#3e56cb;
}
.contactus .info{
    position:relative;
}
.contactus .info li{
    display:grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}
.contactus .info li span:nth-child(1){
    color:white;
    font-size: 20px;
}
.contactus .info li span{
    color:white;
}
.contactus .info a{
    color:white;
    text-decoration: none;
}
.contactus .info p{
    margin-top:-5px;
}